* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color:#cc77ce ;
    margin-bottom: 50px;
}
ul li {
    list-style-type: none;
    margin: 80px;
    color: white;
    font-size: 30px;
}
.task-list{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.single-task{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #cc77ce;
    width: 32%;
    height: 35px;
    padding-left: 20px;
}
.single-task-check input{
    width: 15px;
    height: 15px;
}
.single-task .single-task-text{
    padding-left: 10px;
    color: white;
    font-size: 20px;
}
.add-task{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.add-task .add-task-input{
    width: 450px;
    height: 35px;
    font-size: 20px;
    margin: 5px;
}
.add-task-button button{
    background-color: #cc77ce;
    color: white;
    width: 65px;
    height: 40px;
    font-size: 14px;
    padding: 5px;
    border-color: #cc77ce;
} 
